footer.footer
	.footer__container
		.footer__cell-logo
			.footer__logo
		.footer__cell-links
			ul.footer__list
				li.footer__item Features
				li.footer__item Our Team
				li.footer__item Pricing
		.footer__cell-social
			ul.footer__social-list
				li.footer__social-item
		
		.footer__cell-copy
			p.footer__copy Made in Figma by @karanhamav
			strong.strongText Strong Text