header.header
	.header__container
		a.header__logo(href="#")
			<svg width="176" height="48" viewBox="0 0 176 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M62.3132 46.7659C60.0649 45.1088 57.8142 43.4562 55.5704 41.7968C49.2768 37.1431 42.9924 32.4756 36.685 27.8425C36.0469 27.3739 35.8718 27.0014 36.1989 26.2425C37.2309 23.8585 38.1708 21.4356 39.1407 19.0265C39.2651 18.7179 39.3687 18.4048 39.5024 18.0345C26.6848 27.6802 13.9432 37.2688 1.20392 46.8574C1.13021 46.7865 1.05649 46.7156 0.980469 46.6448C11.1995 31.5202 21.4186 16.3956 31.7252 1.14307C42.0249 16.3842 52.2439 31.5042 62.4584 46.6242C62.41 46.6722 62.3616 46.7202 62.3132 46.7682" fill="currentcolor"></path><path d="M81.9199 37.2208C73.841 37.2208 67.8008 31.3808 67.8008 23.566C67.8008 15.7511 73.841 9.9751 81.9199 9.9751C89.2203 9.9751 94.1754 14.702 95.1937 21.3648H90.0334C89.1189 17.1637 86.3361 14.2402 81.9199 14.2402C76.762 14.2402 72.8919 18.2471 72.8919 23.566C72.8919 28.8848 76.762 32.9557 81.9199 32.9557C86.4328 32.9557 89.2871 29.87 90.1026 25.5042H95.2259C94.3436 32.334 89.3193 37.2231 81.9199 37.2231" fill="currentcolor"></path><path d="M111.154 10.3267C116.301 10.3267 120.134 13.7118 120.134 18.2147C120.134 22.2215 117.093 25.3438 112.778 25.9678L121.548 36.6124H115.642L106.973 26.1004H104.11V36.6124H99.1016V10.3267H111.154ZM111.154 21.8284C113.331 21.8284 114.953 20.2832 114.953 18.2147C114.953 16.1461 113.331 14.6009 111.154 14.6009H104.11V21.8307H111.154V21.8284Z" fill="currentcolor"></path><path d="M135.2 37.0947C128.554 37.0947 124.158 32.8569 124.158 26.4204V10.3267H129.1V26.9461C129.1 30.2969 131.723 32.8249 135.197 32.8249C138.671 32.8249 141.297 30.2969 141.297 26.9461V10.3267H146.239V26.4204C146.239 32.8569 141.843 37.0947 135.197 37.0947" fill="currentcolor"></path><path d="M155.38 10.3267L162.065 19.2638L168.403 10.3267H173.911L164.871 23.0421L175.021 36.6124H169.338L161.685 26.3632L154.41 36.6124H148.902L158.88 22.6169L149.699 10.3267H155.38Z" fill="currentcolor"></path></svg>
		.header__menu.menu
			nav.menu__body
				ul.menu__list
					li.menu__item
						a.menu__link(href="#JOBS") JOBS
					li.menu__item
						a.menu__link(href="#HIRE") HIRE
					li.menu__item
						a.menu__link(href="#FOR_CANDIDATES") FOR CANDIDATES
					li.menu__item
						a.menu__link(href="#FOR_EMPLOYERS") FOR EMPLOYERS
					li.menu__item
						a.menu__link(href="#INSIGHTS_RESOURCES") INSIGHTS & RESOURCES
					li.menu__item
						a.menu__link(href="#ABOUT") ABOUT
		.header__account
			button.button.header__button(type=button) Log in
			button.button.button-lead.header__button(type=button) Sign in